/* NAVBARR */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Permanent+Marker&display=swap');

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  .navbar-brand {
    margin-left: 30px; 
  }

  .navbar-item {
    margin-right: 30px; /* Ajusta el valor según lo necesites */
  }


/*MENU*/
/* Estilos para el contenedor general */
.landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Ocupa el 100% de la ventana */
    overflow: hidden; /* Evita que el contenido se desborde */
  }
  
  .content {
    display: flex;
    flex-grow: 1;  /* El contenido debe ocupar el espacio disponible */
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .right-side {
    flex: 1;
    overflow: hidden; /* Para ocultar la imagen fuera del contenedor */
    position: relative;
  }
  
  .right-side img {
    width: 100%;
    height: 100%; /* La imagen debe cubrir todo el espacio */
    object-fit: cover; /* La imagen se ajusta sin deformarse */
    transition: opacity 0.5s ease-in-out; /* Efecto suave al cambiar las imágenes */
  }