/* NAVBARR */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lacquer&family=Permanent+Marker&display=swap');


.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

  .navbar-brand {
    margin-left: 30px; 
  }

  .navbar-item {
    margin-right: 30px; /* Ajusta el valor según lo necesites */
  }

/*home*/
.full-screen-section {
    height: 90vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Color de fondo opcional */
    background-image: url('./components/HOME2.0.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen ocupe todo el espacio */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
  }

  .centered-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    font-size: 8vw; /* Utilizamos 'vw' para que el tamaño de la fuente sea relativo al ancho de la ventana */
    text-align: center;
    margin: 0;
}

/* Párrafo debajo del título */
.centered-title p {
    font-size: 3vw; /* Usamos 'vw' para el tamaño de la fuente del párrafo */
    margin-top: 5px;
}

/* Línea horizontal */
.horizontal-line {
    width: 20%; /* Reducción del tamaño en pantallas grandes */
    height: 4px;
    background-color: white;
    margin: 20px 0;
}

/* Medios de consulta para pantallas pequeñas */
@media (max-width: 768px) {
    .centered-title {
        font-size: 10vw; /* Aumenta el tamaño de la fuente en pantallas más pequeñas */}

    .centered-title p {
        font-size: 5vw; /* Ajusta el tamaño del párrafo */}

    .horizontal-line {
        width: 50%; /* Aumenta el tamaño de la línea horizontal en pantallas más pequeñas */}
}

@media (max-width: 480px) {
    .centered-title {
        font-size: 12vw; /* Más grande en pantallas muy pequeñas */}

    .centered-title p {
        font-size: 6vw; /* Ajuste adicional en párrafos */}

    .horizontal-line {
        width: 80%; /* La línea horizontal ocupa más espacio en pantallas muy pequeñas */}
}
